@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Explora&family=Fira+Sans:ital,wght@1,100&family=Gloria+Hallelujah&family=Just+Me+Again+Down+Here&family=Lobster&family=Mountains+of+Christmas:wght@400;700&family=Nanum+Brush+Script&family=Schoolbell&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.Nav {
  background-color: whitesmoke;
}

.logo {
  border-radius: 0px;
  height: 75px;
  width: 175px;
  margin-right: 10px;
}

.tryFont {
  font-family: 'Mountains of Christmas';
  font-size: 24px;
  color: rgb(1, 192, 1);
  font-weight: bold;
}

.pgHeaders {
  font-family: 'Mountains of Christmas';
  font-size: 48px;
  font-weight: bold;
  padding-top: 4px;
}

.pgFooters {
  font-family: 'Mountains of Christmas';
  font-size: 32px;
  font-weight: bold;
  padding-top: 1px;
}

th {
  font-family: 'Just Me Again Down Here';
  font-size: x-large;
  text-decoration: underline;
}

td {
  font-family: 'Schoolbell';
  font-size: larger;
}

.signOut {
  font-family: 'Mountains of Christmas';
  font-size: x-large;
  font-weight: bold;
}

.yrBtn, .giftBtn, .lstBtn {
  font-family: 'Mountains of Christmas';
  font-weight: bold;
  font-size: large;
}

.welcome {
  font-family: 'Mountains of Christmas';
  font-weight: bolder;
  font-size: 45px;
}

.forms {
  font-family: 'Mountains of Christmas';
  font-size: xx-large;
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: red;
}

.formInput {
  font-family: 'Schoolbell';
  font-size: larger;
}

.listInput {
  font-family: 'Just Me Again Down Here';
  font-size: x-large;
  font-weight: bolder;
}

.option {
  font-family: 'Mountains of Christmas';
  font-weight: bolder;
  font-size: x-large;
  color: red;
}

.newGift {
  font-family: 'Mountains of Christmas';
  font-size: x-large;
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: red;
}

.cardTitle {
  font-family: 'Gloria Hallelujah';
  color: red;
  font-weight: bolder;
  font-size: larger;
}

.lstDtls{
  font-family: 'Gloria Hallelujah';
}

.cardTitleWrapper {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  -webkit-line-clamp: 2;
}

.cardText {
  font-family: 'Schoolbell';
  /* color: rgb(1, 192, 1); */
  color: black;
  font-size: large;
}

.cardP{
  color: green;
  font-weight: bold;
}

.footer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-small;
}

.copyright {
  font-size: small;
}
